server {
    listen 80;
{% if app_ssl_enabled %}
    listen 443 ssl;
{% endif %}

    server_name {{ app_server_name }}{% for alias in app_server_aliases %} {{ alias }}{% endfor %};
    root {{ app_public_dir }};
    client_max_body_size 50m;

{% if app_ssl_enabled %}
    ssl_certificate {{ app_ssl_certificate }};
    ssl_certificate_key {{ app_ssl_certificate_key }};
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 1d;
    ssl_stapling_verify on;
    ssl_stapling on;
{% endif %}

    if ($host != {{ app_server_name }}) {
        return 301 $scheme://{{ app_server_name }}$request_uri;
    }

    location @backend {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_pass http://{{ app_web_unix_socket }};
    }

    location / {
{% if app_ssl_enabled %}
        if ($scheme != https) {
            return 301 https://$host$request_uri;
        }
{% endif %}
{% if app_basic_auth_enabled %}
        auth_basic "Restricted";
        auth_basic_user_file {{ app_htpasswd_file }};
{% endif %}
        try_files $uri @backend;
    }

    # regular static files are cached for 30 days
    location ~* ^.+\.(jpg|jpeg|gif|ico|bmp|ttf|otf|woff)$ {
       access_log off;
       expires 30d;
       break;
    }

    # we assume that css, js and png files can be updated quite often
    location ~* ^.+\.(css|js|png)$ {
       access_log off;
       expires 1h;
       break;
    }

    location /.well-known/ {
        alias /var/www/html/.well-known/;
    }

{% if app_disallow_robots %}
    location = /robots.txt {
        return 200 'User-agent: *\nDisallow: /';
    }
{% endif %}
}
